/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Body */
body{
    background:#111;
    color:white;
    min-height:100vh;
}

/* Header */
header{
    width:100%;
    padding:25px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-img{
    height:50px;
    width:200px;
    object-fit:contain;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

nav a:hover{
    color:#d946ef;
}

/* Buttons */
.btn{
    padding:14px 28px;
    border:none;
    border-radius:30px;
    background:linear-gradient(
        90deg,
        #c026d3,
        #fb923c
    );
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.outline-btn{
    padding:14px 35px;
    border-radius:30px;
    border:2px solid white;
    background:transparent;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

/* Hero Section */
.hero{
    min-height:calc(100vh - 100px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:20px;
}

/* Profile Image */
.profile-img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:12px solid #d9d9d9;
    object-fit:cover;
    margin-bottom:35px;
}

/* Heading */
.hero h1{
    font-size:56px;
    font-weight:700;
    max-width:900px;
    line-height:1.2;
}

.hero h2{
    font-size:35px;
    font-weight:600;
    max-width:900px;
    line-height:1.4;
}

/* Gradient Text */
.gradient-text{
    background:linear-gradient(
        90deg,
        #c026d3,
        #fb923c
    );

    -webkit-background-clip:text;
    color:transparent;
}

/* Description */
.hero p{
    margin-top:25px;
    max-width:700px;
    color:#d4d4d4;
    font-size:16px;
    line-height:1.8;
}

/* Buttons Group */
.hero-buttons{
    margin-top:35px;
    display:flex;
    gap:20px;
}

/* Responsive */
@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    .hero h1{
        font-size:36px;
    }

    .profile-img{
        width:140px;
        height:140px;
    }

    .hero-buttons{
        flex-direction:column;
    }
}

/* ripple effect 
.ripple{
    position:absolute;
    width:20px;
    height:20px;
    pointer-events:none;
}

.ripple span{
    position:absolute;
    left:50%;
    top:50%;
    border:1px solid rgba(180,120,255,.8);
    border-radius:50%;
    transform:translate(-50%,-50%);
    animation:rippleWave 2s linear forwards;
}

.ripple span:nth-child(1){
    animation-delay:0s;
}

.ripple span:nth-child(2){
    animation-delay:.2s;
}

.ripple span:nth-child(3){
    animation-delay:.4s;
}

.ripple span:nth-child(4){
    animation-delay:.6s;
}

@keyframes rippleWave{
    0%{
        width:0;
        height:0;
        opacity:1;
    }

    100%{
        width:300px;
        height:300px;
        opacity:0;
    }
}
*/
.water-ripple{
    position: fixed;
    width: 10px;
    height: 10px;
    pointer-events: none;
    z-index: 9999;
}

.water-ripple span{
    position: absolute;
    left: 50%;
    top: 50%;

    border: 1px solid rgba(180, 120, 255, 0.8);
    border-radius: 50%;

    transform: translate(-50%, -50%);
    animation: waterWave 2.2s ease-out forwards;
}

.water-ripple span:nth-child(1){
    animation-delay: 0s;
}

.water-ripple span:nth-child(2){
    animation-delay: 0.18s;
}

.water-ripple span:nth-child(3){
    animation-delay: 0.36s;
}

.water-ripple span:nth-child(4){
    animation-delay: 0.54s;
}

.water-ripple span:nth-child(5){
    animation-delay: 0.72s;
}

@keyframes waterWave{
    0%{
        width: 0;
        height: 0;
        opacity: 1;
        filter: blur(0px);
    }

    60%{
        opacity: 0.55;
        filter: blur(1px);
    }

    100%{
        width: 360px;
        height: 360px;
        opacity: 0;
        filter: blur(3px);
    }
}
